/* Navbar stylings */

.nav {
    background-color: #344e41;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.nav-item a {
    color: white;
    size: 8px;
    margin: 5px;
}

.nav a:hover {
    /*background-color: #dad7cd;*/
    padding: 2px;
    color: #dad7cd;
}

.nav a#active {
    background-color: #a3b18a;
    padding: 10px;
    color: white;
}

.interests {
    padding-left: 30px;
}

.technology-section {
    display: flex;
}

.technology-banner {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 100;
    font-size: 24px;
}

.technology-contanier {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.indv-tech {
    align-self: center;
    text-align: center;
    width: 200px;
    padding-top: 50px;
    background-color: #344e41;
    border-radius: 20px;
    margin: 0px 20px 0px 20px;
}

.centern {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}


/* Other elements */

h1 {
    padding: 10px;
    text-align: center;
}

h2 {
    padding-left: 20px;
}

h3 {
    color: white;
}

a {
    color: black;
}

img {
    padding-bottom: 20px;
}

p {
    padding: 20px;
}

body {
    /*     background-color: #3a5a40; */
    background-size: auto;
    background: linear-gradient(#3A5A40 0%, #588157 50%, #A3B18A 100%);
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1rem;
    text-align: center;
}