/* CSS Writen by Matthew Pachapa
   Navbar Styling Classes */

.nav {
    background-color: #344e41;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.nav-item a {
    color: white;
    size: 8px;
    margin: 5px;
}

.nav a:hover {
    padding: 2px;
    color: #dad7cd;
}

.nav a#active {
    background-color: #a3b18a;
    padding: 10px;
    color: white;
}


/* Other Classes defined */

.interests {
    padding-left: 30px;
}

.technology-banner {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 100;
    font-size: 24px;
}

.indv-tech {
    align-self: center;
    text-align: center;
    width: 200px;
    height: 300px;
    padding-top: 50px;
    background-color: #344e41;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
}

.centern {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}


/* Other elements */

h1 {
    padding: 10px;
    text-align: center;
}

h2 {
    padding-left: 30px;
}

h3 {
    color: white;
}

a {
    color: black;
}

img {
    padding-bottom: 20px;
}

p {
    size: 14px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}

ul {
    list-style-type: none;
}

body {
    background-size: auto;
    background: linear-gradient(#3A5A40 0%, #588157 50%, #A3B18A 100%);
}

footer {
    right: 0;
    bottom: 0;
    padding: 1rem;
    text-align: right;
}

input#sub {
    background-color: #3A5A40;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input#res {
    background-color: #3A5A40;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* scale photo in */

.scale-in-center {
    -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* animation of scale in */

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}


/* EOF */